*{
    margin:0;
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color:lightskyblue;
    margin: 0;
}
#siteContainer{
    max-width: 1000px;
    margin:0 auto;   
}
#siteHeader{
    position: relative;
    top:0;    
}
#siteHeader img{    
    top: 0px;
    width: 100%;
    display: block;    
}
.buttonList{    
    background-color: bisque;    
    margin: 0 auto;         
}
nav ul{
    margin:0 auto;
    display: flex;
}
nav li{
    display: inline-block;
    margin:0 auto;
    padding: 10px;
    align-items: center;     
} 
nav a{
    color:rgb(167, 63, 167);
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 30px; 
    display: block;   
}
nav ul li:hover{
    background-color:rgb(152, 158, 119);    
    font-weight: bold;
}
#siteBody{
    position: relative;
    margin-top: 0;
    width:100%;
    background-color: bisque;    
    padding-top: 20px;    
}
h1{
    margin-left: 30px;
    text-decoration: underline;
    text-align: center;
}
h2{
    margin-left: 30px;
    padding-top: 20px;    
}
p{
    padding: 10px 30px;
}
#intro{
    box-sizing: border-box;    
    display:flex;
    margin:10px;
    padding:10px;     
}
#intro img{
    aspect-ratio: auto;
    position: relative;
    top:0;
    left:0;
    max-height: 350px;
}
#introGuides{
    margin:0;
    padding:10px;
    list-style-type: none;
}
.guides{
    padding:10px;
    font-size:19px;
    color:darkolivegreen;
}
figure{
    margin:10px;
    padding:30px;
    margin:0 auto;
    display: flex;
}
.photoLandscape{   
    max-width:300px;
    max-height:250px;
    padding:5px 5px;
    margin: 0 auto; 
    align-items: center;   
}
.map{
    display: flex;
    width:100%;
}   

.map img{    
    margin: 0 auto;    
}

.connect{
    display: flex;
    padding-bottom: 60px;
}

/* styling for social media buttons inspired from W3School */

.fa{
    margin-left:45px;
    padding: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa-facebook{
    background: #3B5998;
    color: white;
    align-items: center; 
    margin-left: 300px;
    font-size: 30px;   
}
.fa-instagram{
    background-color: #e44fdc;
    color: white;
}
.disclaimer{
    border-top: 1px solid darkolivegreen;
    text-align: center;
    padding-bottom: 20px;    
}
/* begin styling for elements on place-of-interest webpage */

div.hotels{    
    height: fit-content;
    padding:10px;
}
.hotelContainer{    
    border:1px solid lightgray;
    height: fit-content;
    padding:3px;
    display:flex;
    margin: 5px 0;    
}
img.hotelPhoto{
    max-height: 200px;  
    max-width: 200px;   
}

.hotelContainer a{
    margin-left:15px;
    text-decoration: none;
    text-transform: uppercase;
    height: min-content;
}

.hotelDescription{
    padding: 0;
    margin-left:15px;
}

div.landmarks{
    display: flex;
    margin-left: 170px;
}

.landmarks img{
    max-width: 300px;
    max-height: 300px;
    align-items: center;
    
}
.landmarks a{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    
}
.photomon{
    margin:10px 15px;
}
/* begin styling on tour-schedule.html */

h2.tours{
    margin:50px 50px;
}
.tourTable{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    border: 1px solid #303a94; 
    border-collapse: collapse;
    width:90%;
    margin-left: 5%;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.tourTable th, .tourTable td{
    border: 1px solid #303a94;
    padding:5px;

}
.tourTable tr:nth-child(even){
    background-color: rgb(202, 223, 197);
}
.tourTable tr:hover{
    background-color: #dd3;
}
.tourTable th{
    background-color: cornsilk;
    font-size: 18px;

}
.price{
    font-size:16px;
    padding: 0;
    margin-right: 50px;
    float:right;
    color: #303a94;
    font-weight: bold;
}
.priceBreakdown{
    font-size:14px;
    color: #303a94;
    padding: 0;
    margin: 0 50px;
}
p.red{
    color:red;
}

.button{
    padding: 15px 30px;
    background-color: #3cbb73;
    display: inline-block;
    align-items: end;
    margin-left: 80%;
    border: none;
    border-radius: 10%;
    cursor: pointer;

    
}
.button a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

